// colors
$blue: #038bff;
$bg-color: #fafcfe;
$green: #13d8a4;
$text-gray: #8b8b8b;
$bg-gray: #f2f3f6;

// break points
$xs-breakpoint: 400px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1536px;
